$grid-breakpoints: (
    xs: 0,
    sm: 300px,
    md: 600px,
    lg: 900px,
    xl: 1300px,
    xxl: 1700px
);

$container-max-widths: (
    sm: 600px,
    md: 900px,
    lg: 1300px,
    xl: 1600px,
    xxl: 1600px
);
