@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.cb-flex-0-auto {
    flex: 0 0 auto;
}

.cb-w-90 {
    width: 110px;
}

.card-cashbox {
    container: card-cashbox / inline-size;
    /* width: 100%; */
}

.card-cashbox__booking {
    flex-direction: column;
}

.card-cashbox__booking-date {
    width: 100%;
}

.card-cashbox__booking-details {
    padding: 0;
}

.card-cashbox__booking-amount {
    text-align: right;
}

@container card-cashbox (width > 480px) {
    .card-cashbox__booking {
        flex-direction: row;
    }
    .card-cashbox__booking-date {
        width: 90px;
    }
    .card-cashbox__booking-details {
        padding: 0 1rem;
    }
    .card-cashbox__booking-amount {
        text-align: right;
        width: 90px;
    }
}
