
.card-cashbox {
    container: card-cashbox / inline-size;

    &__booking {
        flex-direction: column;
    }

    &__booking-date {
        width: 100%;
    }

    &__booking-date,
    &__booking-amount {
        flex: 0 0 auto;
    }

    &__booking-details {
        padding: 0;
    }

    &__booking-amount {
        text-align: right;
    }
}

@container card-cashbox (width > 480px) {
    .card-cashbox__booking {
        flex-direction: row;
    }
    .card-cashbox__booking-date {
        width: 90px;
    }
    .card-cashbox__booking-details {
        padding: 0 1rem;
    }
    .card-cashbox__booking-amount {
        text-align: right;
        width: 90px;
    }
}
