.cb-table {
    &__row {
        display: flex;
        flex-wrap: wrap;

        &--header {
            font-weight: bold;
            display: none;

            @include media-breakpoint-up(lg) {
                display: flex;
            }
        }

        &--item {
            border-top: 1px solid #ccc;
        }

        &--odd {
            background-color: #f4f4f4;

            .cb-table__col--date,
            .cb-table__col--amount {
                @include media-breakpoint-up(lg) {
                    background-color: #ececec;
                }
            }
        }

        &--even {
            background-color: #fafafa;

            .cb-table__col--date,
            .cb-table__col--amount {
                @include media-breakpoint-up(lg) {
                    background-color: #f4f4f4;
                }
            }
        }
    }

    &__col {
        padding: .375rem .75rem;
        min-height: 2.25rem;

        &--link {
            padding: 0;
        }

        &--date {
            order: 1;
            flex: 0 0 50%;
            @include media-breakpoint-up(lg) {
                order: 0;
                flex: 0 0 8rem;
            }
        }

        &--cat {
            flex: 0 0 8rem;
            text-align: right;
            order: 4;
            @include media-breakpoint-up(lg) {
                text-align: left;
                order: 0;
            }
        }

        &--receipt {
            text-align: right;
            flex: 0 0 50%;
            order: 2;
            @include media-breakpoint-up(lg) {
                flex: 0 0 6rem;
                order: 0;
            }
        }

        &--desc {
            flex: 0 0 calc(100% - 8rem);
            order: 3;
            @include media-breakpoint-up(lg) {
                flex: 0 0 calc(100% - 30rem);
                order: 0;
            }
        }

        &--amount {
            text-align: right;
            order: 5;
            flex: 0 0 100%;
            @include media-breakpoint-up(lg) {
                order: 0;
                flex: 0 0 8rem;
            }
        }
    }

    &__link {
        padding: .375rem .75rem;
        display: block;
        width: 100%;
        height: 100%;
    }
}
